@import "http://fonts.googleapis.com/css?family=Bubblegum+Sans";

/* fork me */

#forkongithub {
	font-size: 3vmin;
	margin: 0 auto;
	display: table-cell;
	text-align: center;
}

#forkongithub a {
	color: dimgrey;
	text-decoration: none;	
}

#forkongithub a:hover {
	color : rgb(68, 194, 68);
}


/* end fork me banner */

img.t-logo {
    position: fixed;
    top: 5%;
    left: 5%;
}


.cs-title, .cs-prefix, .cs-connect {
    color: rgba(0, 0, 0, 0.58);
    font-family: 'Bubblegum Sans',cursor;
    font-size: 2em;
    font-weight: 100;
}


.cs-prefix, .cs-connect {
    color: rgb(68, 194, 68);
}

.cs-connect {
	padding: 0px 5px;
}



a.t-logo {
    cursor: pointer;
    z-index: 101;
	outline:none;
    display: table-cell;
    vertical-align: middle;
    table-layout: fixed;
    width: 300px;
}

a.t-logo img {
    width: 10em;
}

div.cs-header > h3 {
    display: inline-block;
}

.cs-header {
    display: table-cell;
    text-align: center;
    min-width: 450px;
}

div.cs-body {

}

div[id^='slider-'] {
    display: table-cell;
    vertical-align: middle;
    padding-right: 5%;
	
    width: 200px;
    table-layout: fixed;
}


#menu li {
	display:inline-block;
	margin: 10px;
	background: transparent; 
  
	cursor: pointer;
}

#menu li span{
	text-decoration:none;
	padding: 20px 12px;
	display:block;
	color: white;
	background-color: rgba(110, 165, 214, 1);
	outline: none;
}
#menu{
	z-index: 70;
	height: 100px;
	padding: 0;
	margin: 0 auto;
	display: table;
	font-size: 2vmin;
}

#menu li span:active, #menu li span:hover {
	background-color: rgba(72, 142, 216, 1);
}

#menu li span:active {
	position:relative;
	top: 5px;
}

span[data-link="#FullCircle"] {
    border-radius: 100% !important;
}

span[data-link="#HalfCircle"] {
    border-radius: 90px 90px 0 0;
}

span[data-link="#HalfCircleRight"] {
    border-radius: 0 90px 90px 0;
}

span[data-link="#HalfCircleLeft"] {
    border-radius: 90px 0 0 90px;
}

span[data-link="#HalfCircleBottom"] {
    border-radius: 0 0 90px 90px;
    font-size: 0.9em;
}

span[data-link="#Rotation"] {
    border-radius: 20px;
}

span[data-link="#Customized"] {
    border-radius: 20px;
}



/*code highlight*/

span.js-keyword {
    color: blue;
    font-weight: 900;
}

span.js-comment {
    color: grey;
}

span.js-literal {
    color: green;
}

span.js-value {
    color: burlywood;
}

/*end code highlight*/

code pre {
    
    font-size: 1em;
    display: inline;
    padding-left: 5%;
    width: auto;
}


code.cs-jscode {
    display: table-cell;       height: auto;
    table-layout: fixed;
    width: auto;
}

div[class^="cs-demo-"] {
    display: table;
    margin: 0 10%;
}


body {
    min-width: 900px;
    min-height: 500px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    overflow: auto;
}

.cs-container {
}

.cs-row, .t-comments {
    display: table;
    vertical-align: middle;
    width: 80%;
    margin: 0 auto;
    min-width: 800px;
}

.t-comments {
	width: 60%;
}

@media (max-width: 780px) {


	body {
		overflow: scroll;
	}
}

.cs-demo {
    margin-top: 1%;
    display: block;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
}

div#slider-half-circle-right {
    text-align: -webkit-center;
}

.t-social {
    font-size: small;
    max-width: 280px;
    min-width: 280px;
    top: 10%;
    min-height: 65px;
    max-height: 65px;
}
.t-social:before {
    color: deeppink;
    content: attr(data-like);
    left: 50%;
    position: relative;
    top: 20px;
    width: auto;
}
.t-social:hover:before {
    content: attr(data-like);
    top: 22px;
}


pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
